<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go + HTMX</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <h1>Github Action Pipelines</h1>
    <!-- For each string in data make a p with data value-->
    {{range .Repos}}
        <p>{{.}}</p>
        <!-- need to hit the endpoint /actions/repo_name to get a list of actions -->
        <ul hx-get="/actions/{{ . }}" hx-target="#{{ . }}-actions" hx-swamp="innerHTML"  hx-trigger="load, every 30s">
            <li id="{{ . }}-actions">Loading...</li>
        </ul>

    {{end}}
    <button 
        hx-get="/htmx" 
        hx-target="#response"
        hx-swap="innerHTML">
        Click me to load content
    </button>
    <div id="response"></div>
</body>
</html>

